<template>
    <div>
        <h2>this is agregate people...</h2>
        <div>
            <v-col
                cols="6"
                md="4"
            >
                <v-text-field
                    v-model="nombre"
                    color="cyan darken"
                    label="Nombres"
                    placeholder="Escribe..."
                    loading
                >
                    <template v-slot:progress>
                        <v-progress-linear
                            v-if="custom"
                            :value="progress"
                            :color="color"
                            absolute
                            height="5"
                        ></v-progress-linear>
                    </template>
                </v-text-field>
                
                <v-text-field
                    v-model="apellido"
                    color="cyan darken"
                    label="Apellidos"
                    placeholder="Escribe..."
                    loading
                >
                    <template v-slot:progress>
                        <v-progress-linear
                            v-if="custom"
                            :value="progress"
                            :color="color"
                            absolute
                            height="5"
                        ></v-progress-linear>
                    </template>
                </v-text-field>

                <v-text-field
                    v-model="correo"
                    color="cyan darken"
                    label="Correo"
                    placeholder="email@correo.com"
                    loading
                    suffix="@gmail.com"
                    :rules="[rules.required, rules.email]"
                >
                    <template v-slot:progress>
                        <v-progress-linear
                            v-if="custom"
                            :value="progress"
                            :color="color"
                            absolute
                            height="5"
                        ></v-progress-linear>
                    </template>
                </v-text-field>

                <v-text-field
                    v-model="telefono"
                    color="cyan darken"
                    label="Telefono"
                    placeholder="321455..."
                    loading      
                >
                    <template v-slot:progress>
                        <v-progress-linear
                            v-if="custom"
                            :value="progress"
                            :color="color"
                            absolute
                            height="5"
                        ></v-progress-linear>
                    </template>
                </v-text-field>
                
                <v-text-field
                    v-model="perfil"
                    color="cyan darken"
                    label="Imagen de Perfil"
                    placeholder="https://..."
                    loading
                >
                    <template v-slot:progress>
                        <v-progress-linear
                            v-if="custom"
                            :value="progress"
                            :color="color"
                            absolute
                            height="5"
                        ></v-progress-linear>
                    </template>
                </v-text-field>

            </v-col>
            <v-btn
                color="primary"
                elevation="5"
                small
                @click="addPana"
                v-ripple="{ center: true }"
            >
                <v-icon dark>
                mdi-plus
                </v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

const agregarPersona = Vue.extend({
    name: 'AgregarPersona',
    data () {
        return {
        nombre : '',
        apellido : '',
        correo : '',
        telefono : '',
        perfil : '',
        custom: false,
        rules: {
            required: correo => !!correo || 'Required.',
            email: correo  => {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return pattern.test(correo) || 'Invalid e-mail.'
          },
        }
        }
    },
    methods: {
        addPana () {
            const json = {
                'nombres' : this.nombre,
                'apellidos': this.apellido,
                'correo' : this.correo,
                'telefono' : this.telefono,
                'perfil' : this.perfil

            }

            this.$store.commit('addPana', json);
            this.nombre = '';
            this.apellido = '';
            this.correo = '';
            this.telefono = '';
            this.perfil = '';


        }
    }
});

export default agregarPersona;
</script>

<style lang="scss">

</style>