<template>
    <div>
        <v-card
            elevation="2"
            loading
            outlined
            shaped
            >
            <v-card-title>Juan Camilo CO</v-card-title>    
            <v-card-subtitle>Developer</v-card-subtitle>
            <v-card-text>this website was developed by me... code in gitlab.</v-card-text>
            <v-card-actions>
                <v-btn
                    color="primary"
                    elevation="7"
                    small   
                >
                    <a class="white--text" href="https://gitlab.com/camilo-467/vue-router-whit-vuex.git">Ir</a>
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script lang="ts">

</script>

<style lang="scss">

</style>