<template>
    <div>
        <h2>this is List of people...</h2>
        <template>
            <v-row>
                <v-col
                    v-for="(persona, index) in $store.state.personas"
                    :key="index"
                    class="d-flex child-flex"
                    cols="5"
                >
                    <template>
                        <v-card
                            class="mx-auto"
                            outlined
                        >
                            <v-list-item three-line>
                                <v-list-item-content>
                                    <v-list-item-title class="headline mb-1">
                                        {{ persona.nombres }} {{ persona.apellidos }}
                                    </v-list-item-title>
                                    <v-list-item-subtitle>
                                        {{ persona.correo }} 
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-avatar
                                    tile
                                    size="50"
                                    color="black"
                                    class="rounded-xl"
                                >
                                    <img
                                        :src="persona.perfil"
                                        :alt="persona.nombres"
                                    >
                                </v-list-item-avatar>
                            </v-list-item>

                            <v-card-actions>
                                <template>
                                    <div class="text-center">
                                        <v-bottom-sheet
                                            v-model="sheet"
                                            inset
                                        >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn
                                                    outlined
                                                    rounded
                                                    text
                                                    color="cyan"
                                                    dark
                                                    v-bind="attrs"
                                                    v-on="on"
                                                >
                                                    Ver!
                                                </v-btn>
                                            </template>
                                        </v-bottom-sheet>
                                    </div>
                                </template>
                            </v-card-actions>
                        </v-card>
                    </template>
                    <v-bottom-sheet
                        persistent
                    >
                        <v-sheet
                            class="text-center"
                            height="200px"
                        >
                            <v-btn
                                class="mt-6"
                                text
                                color="error"
                                @click="sheet = !sheet"
                            >
                                close
                            </v-btn>
                            <div class="my-3">
                                This is a bottom sheet using the inset prop
                            </div>
                        </v-sheet>
                    </v-bottom-sheet>
                </v-col>
            </v-row>
        </template>
    </div>
    
    
</template>

<script lang="ts">
import { Vue, Component, Prop, Provide } from 'vue-property-decorator'

@Component

export default class ListadoPersonas extends Vue  {
    @Prop(Boolean) sheet: boolean | undefined  

}    
</script>

<style lang="scss">

</style>