<template>
  <div class="hello">
    
    <template>
      <v-container class="grey lighten-5">
        <v-row
          key="1"
          class="mb-12"
          no-gutters
        >
          <v-col
            sm="3"
            md="3"
            key="2"
          >
            <Menu />
          </v-col>
          <v-col
            key="3"
          >
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </template> 
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Menu from './Menu.vue'

const hiworld =  Vue.extend({
  name: 'HelloWorld',
  components: {
    Menu
  }
});
export default hiworld;
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  padding: 2em;
}
</style>
