<template>  
    <div>
        <v-card
            height="400"
            width="256"
        >
            <v-navigation-drawer permanent>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">
                            Gestion de personal
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            Con vue router & vuex!
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>
                
                <v-list
                    dense
                    nav
                >
                    <v-list-item link>
                        <v-list-item-icon>
                            <v-icon>mdi-warehouse</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title><router-link to="/Inicio">Inico</router-link></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                
                <v-list
                dense
                nav
                >
                    <v-list-item link>
                        <v-list-item-icon>
                            <v-icon>mdi-account-plus</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title><router-link to="/AgregarPersona">Agregar Persona</router-link></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                
                <v-list
                dense
                nav
                >
                    <v-list-item link>
                        <v-list-item-icon>
                            <v-icon>mdi-format-list-bulleted</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title><router-link to="/ListadoPersonas">listado Personas</router-link></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </v-card>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
const Menu =  Vue.extend({
  name: 'Menu',
});
export default Menu;
</script>

<style lang="scss">

</style>